@font-face {
    font-family: "RobotoRegular";
    url("../assets/fonts/Roboto-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMedium";
    url("../assets/fonts/Roboto-Medium.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerifRegular";
    url("../assets/fonts/PTSerif-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
